
#contacts_right{
    float: right;
    width: 450px;
    margin: 15px;
}
#contacts_left{
    margin-right: 524px;
    min-height: 464px;
    border-right: 1px solid #000;
}
#contacts_skype{
    background: url(/themes/seven/images/front_page/skype_icon.png) no-repeat;
    padding: 5px 5px 10px 35px;
    margin-top: 15px;
}
#contacts_email{
    background: url(/themes/seven/images/front_page/mail_icon.png) no-repeat;
    padding: 0px 5px 13px 35px;
    margin-top: 6px;
}
.contacts{
    min-height: 464px;
}
.contacts_background .part{

    background: url('/sites/default/files/imagecache/contacts_background_1400/site_images/contacts_background.png') no-repeat;
}
#contact_information{
    background: url('/sites/default/files/imagecache/contacts_background_1440/site_images/contacts_background.png') no-repeat;
}