/* 
    Document   : test
    Created on : 20.12.2012, 13:28:53
    Author     : Acer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    /*background-color: #000;*/
}
.part{
    width:100px;
    height:100px;
    opacity: 0;
}
#part1 {
    
}
.image-slider-wrapper{
    width: 800px;
}
.row{
    height:100px;
}
.part{
    position: absolute;
    z-index: 10;
    float: left;
    border: 0px solid #ccc;

}
.element_description{
    display: none;
}
/*
.animation .image{
    cursor: wait !important;
}
*/