/* 
    Document   : my_module
    Created on : 12.12.2012, 19:44:02
    Author     : Acer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.right_sidebar{
    float: right;
    width: 393px;
}
.left_sidebar{
    height: 523px;
    width: 1179px;
    overflow: hidden;
}
.left_sidebar #main_image {
    height: 524px;
    width: 1179px;
}
#page{
    width: 1573px;
    margin: auto;
}
#block-menu-primary-links li{
    width: 111px;
    text-align: center;
}
.gallery{
    min-height: 524px;
}
.right_pagination_wrapper{
    float: right;
    width: 393px;
}
.right_pagination{
    height: 10px;
}
.front_page_image{
    height: 130px;
}


