/* 
    Document   : my_module
    Created on : 12.12.2012, 19:44:02
    Author     : Acer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.right_sidebar{
    float: right;
    width: 303px;
}
.left_sidebar{
    height: 404px;
}
#page{
    /*width: 1812px;*/
}
.left_sidebar #main_image {
    height: 404px;
    width: 900px;
}
#page{
    width: 1203px;
}
