
root { 
    display: block;
}

.right_sidebar{
    float: right;
    width: 303px;
}
.left_sidebar{
    height: 403px;
    width: 909px;
    overflow: hidden;
}
.left_sidebar #main_image {
    height: 404px;
    width: 909px;
}
#page{
    width: 1213px;
    margin: auto;
}
#block-menu-primary-links li{
    margin: 0px 30px 0px 30px;
}
.gallery{
    min-height: 404px;
}
.right_pagination_wrapper{
    float: right;
    width: 303px;
}
.right_pagination{
    height: 10px;
}
.front_page_image{
    height: 100px;
}