/* 
    Document   : my_module
    Created on : 12.12.2012, 19:44:02
    Author     : Acer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.right_sidebar{
    float: right;
    width: 333px;
    border-left: 1px solid #fff; 
}
.left_sidebar{
    height: 443px;
    width: 999px;
    overflow: hidden;
}
.left_sidebar #main_image {
    height: 444px;
    width: 999px;
}
#page{
    width: 1333px;
    margin: auto;
}
#block-menu-primary-links li{
    width: 111px;
    text-align: center;
}
.gallery{
    min-height: 444px;
}
.right_pagination_wrapper{
    float: right;
    width: 333px;
}
.right_pagination{
    height: 10px;
}
.front_page_image{
    height: 110px;
}


