/* 
    Document   : my_module
    Created on : 12.12.2012, 19:44:02
    Author     : Acer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    font-family: Century Gothic;
    font-size: 12px;
    text-shadow: 0px 0px 1px rgb(148, 148, 148);
}
#site-title{
    font-size: 24px;
}
#main_menu_region li{
    padding: 0;
}
#main_menu_region ul.menu {
    margin: 0;
}
.my_title{
    color: red;
}

.right_sidebar img{
    display: block;
}
.left_sidebar{
    float: left;
}
.clear-block{
    clear: both;
}
.gallery{
    background-color: #888;
}

.right_sidebar .image{
    float: left;
    padding: 0 1px 1px 0;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /*-moz-opacity: 0.4;*/
    cursor: pointer;
}
.right_sidebar .image.active{
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.left_sidebar #main_image {
    position: absolute;
    top: 0;
}
#page {
    margin: auto;
    padding: 10px 10px 10px 10px;
    background: #fff;
    position: relative;
    color: #333;
}
.left_sidebar{
    position: relative;
}
/*
.right_sidebar .image:hover{
  opacity: 1;
}*/
li a.active {
    color: #99ddff !important;
    text-shadow: 0px 0px 1px rgb(80, 238, 252);
}
li a {
    color:#000000 !important;
}
li a:hover {
    text-decoration: none;
    color: #99ddff !important;
    text-shadow: 0px 0px 1px rgb(80, 238, 252);
}
#block-locale-0{
    padding-top: 6px;
    margin-right: 25px;
}
#block-menu-primary-links{
    padding-top: 12px;
}
