/* 
    Document   : my_module
    Created on : 12.12.2012, 19:44:02
    Author     : Acer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.my_title{
    color: red;
}
.right_sidebar .image{
  float: left;
  padding: 0 1px 1px 0;
}
.right_sidebar img{
  display: block;
}
.clear-block{
  clear: both;
}
.gallery{
  min-height: 300px;
  background-color: #888;
}

.right_sidebar .image{
  opacity: 0.4;
  cursor: pointer;
}

/*
.right_sidebar .image:hover{
  opacity: 1;
}*/

